<section class="section introduction">
    <div class="title-container">
        <div class="title">EKKE UNITOKEN</div>
        <div class="subtitle">
            Az Eszterházy Károly Katolikus Egyetem saját kriptotokenje.
        </div>
        <img src="assets/images/tokens_left.svg" alt="tokens" class="tokens left">
        <img src="assets/images/tokens_right.svg" alt="tokens" class="tokens right">
    </div>
    <img src="assets/images/flare_left.svg" class="flare left" alt="flare"/>
    <img src="assets/images/flare_right.svg" class="flare right" alt="flare"/>
</section>

<section class="section tutorial">
    <div class="text">
        <div class="section-title">Hogyan működik a UniToken?</div>
        <div class="steps">
            <div class="icon-title-disclaimer">
                <img src="assets/images/tokens_stack.svg" class="icon" alt="token stack"/>
                <div class="title">Pénztárca létrehozása</div>
                <div>
                    Hozz létre itt egy fiókot, hogy tudd tárolni tokenjeidet. (Metamask)
                </div>
            </div>
            <div class="icon-title-disclaimer">
                <img src="assets/images/tokens_stack.svg" class="icon" alt="token stack"/>
                <div class="title">Töltsd ki az egyetem által küldött kérdőíveket</div>
                <div>
                    Első kitöltés előtt regisztrálj a www.ekkekerdoiv.hu oldalon, majd jelentkezz be.
                </div>
            </div>
            <div class="icon-title-disclaimer">
                <img src="assets/images/tokens_stack.svg" class="icon" alt="token stack"/>
                <div class="title">Zsebeld be érte a jutalmat</div>
                <div>
                    Minden egyes kitöltött kérdőívért UniTokent adunk neked,
                    amelyeket különböző Eszterházys dolgokra válthatsz be.
                </div>
            </div>
        </div>
        <button class="button">Regisztrálok</button>
        <div class="disclaimer">
            Az UniToken pénzre nem váltható,
            illetve a webshopban kizárólag UniTokennel lehetséges a fizetés.
        </div>
    </div>
    <div class="image"></div>
</section>

<section class="section sending">
    <div class="text">
        <div class="title">Küldj UniTokent a haveroknak</div>
        <div class="subtitle">
            Ha kevés a haverod tokenje,
            de együtt szeretnétek EKKE-s pólóban feszíteni,
            küldj neki párat a metamaskon keresztül.
        </div>
        <button class="button">Placeholder</button>
    </div>
    <img src="assets/images/tokens_stack.svg" class="image" alt="token stack">
</section>