<section class="section introduction">
    <div class="text">
        <div class="title">EKKE UniToken</div>
        <div class="subtitle">
            Az Eszterházy Károly Katolikus Egyetem saját kriptotokenje,
            amelyet kizárólag itt válthatsz be különböző Eszterházys termékekre.
        </div>
        <button class="button">Placeholder</button>
    </div>
    <div class="image"></div>
</section>

<section class="section tutorial">
    <div class="text">
        <div class="section-title">Hogyan működik a UniToken?</div>
        <div class="steps">
            <div class="title-and-disclaimer">
                <div class="title">Pénztárca létrehozása</div>
                <div>
                    Hozz létre itt egy fiókot, hogy tudd tárolni tokenjeidet. (Metamask)
                </div>
            </div>
            <div class="title-and-disclaimer">
                <div class="title">Töltsd ki az egyetem által küldött kérdőíveket</div>
                <div>
                    Első kitöltés előtt regisztrálj a www.ekkekerdoiv.hu oldalon, majd jelentkezz be.
                </div>
            </div>
            <div class="title-and-disclaimer">
                <div class="title">Zsebeld be érte a jutalmat</div>
                <div>
                    Minden egyes kitöltött kérdőívért UniTokent adunk neked,
                    amelyeket különböző Eszterházys dolgokra válthatsz be.
                </div>
            </div>
        </div>
        <button class="button">Regisztrálok</button>
        <div class="disclaimer">
            Az UniToken pénzre nem váltható,
            illetve a webshopban kizárólag UniTokennel lehetséges a fizetés.
        </div>
    </div>
    <div class="image"></div>
</section>

<section class="section sending">
    <div class="text">
        <div class="title">Küldj UniTokent a haveroknak</div>
        <div class="subtitle">
            Ha kevés a haverod tokenje,
            de együtt szeretnétek EKKE-s pólóban feszíteni,
            küldj neki párat a metamaskon keresztül.
        </div>
        <button class="button">Placeholder</button>
    </div>
    <div class="image"></div>
</section>