.main-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 100px 100px 0px 100px;
    max-width: 1920px;
    margin: 0 auto 100px auto;
    padding-bottom: 50px;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.image {
    width: 60%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product-name {
        font-size: 20px;
    }

    .product-price {
        font-size: 20px;
        margin: 10px 0px 10px 0px;
    }

    .select {
        width: 250px;
        height: 50px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        border-radius: 6px;
        padding: 0 20px;

        option {
            background-color: transparent !important;
        }
    }

    .select-field {
        width: 250px;
    }
}


.product-slider-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 20px;
}