<div class="main-container">
  <div class="title">Rendeléseim</div>
  <div class="orders" *ngIf="this.orders">
    <mat-accordion class="accordion" *ngFor="let order of this.orders">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >{{ order.date | date : " YYYY MMM. dd" }} ({{
              order.totalPrice
            }}
            UniToken)</mat-panel-title
          >
          <div></div>
        </mat-expansion-panel-header>
        <div class="row">
          <span>ID:</span>
          <span>#{{ order.id }}</span>
        </div>
        <div class="row">
          <span>Rendelés státusza:</span>
          <span>{{ mapperService.mapStatusName(order.status) }}</span>
        </div>
        <div class="row" *ngFor="let product of order.products">
          <span
            >{{ product.name }} ({{
              mapperService.mapProductTypeName(product.type)
            }}, {{ product.size }},
            {{ mapperService.mapProductColorName(product.color) }})</span
          >
          <span>{{ product.price }} UniToken</span>
        </div>
        <div class="row">
          <span>Átvétel módja:</span>
          <span>{{
            mapperService.mapDeliveryModeName(order.deliveryMode)
          }}</span>
        </div>
        <div class="row">
          <span>Teljes összeg:</span>
          <span>{{ order.totalPrice }} UniToken</span>
        </div>
        <div class="row">
          <span>Létrehozva:</span>
          <span>{{ order.date | date : " YYYY MMM. dd" }}</span>
        </div>
        <div class="line"></div>
        <div class="row">
          <span>Ország:</span>
          <span>{{ order.address.country }}</span>
        </div>
        <div class="row">
          <span>Irányítószám:</span>
          <span>{{ order.address.zipCode }}</span>
        </div>
        <div class="row">
          <span>Város:</span>
          <span>{{ order.address.city }}</span>
        </div>
        <div class="row">
          <span>Közterület neve:</span>
          <span>{{ order.address.streetName }}</span>
        </div>
        <div class="row">
          <span>Közterület jellege:</span>
          <span>{{ order.address.streetType }}</span>
        </div>
        <div class="row">
          <span>Házszám:</span>
          <span>{{ order.address.houseNumber }}</span>
        </div>
        <div class="row">
          <span>Lakás:</span>
          <span>{{ order.address.apartment || "-" }}</span>
        </div>
        <div class="row">
          <span>Emelet:</span>
          <span>{{ order.address.floor || "-" }}</span>
        </div>
        <div class="row">
          <span>Ajtó:</span>
          <span>{{ order.address.door || "-" }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="message" *ngIf="!this.orders.length">
    Még nincsenek megrendeléseid.
  </div>
</div>
