<section class="main-container" *ngIf="!succesfulPayment()">
  <div class="cart">
    <div class="title">Kosár</div>
    <div class="products">
      <div class="product" *ngFor="let product of cartService.cart()">
        <img
          class="bin"
          src="../../../assets/icons/bin.svg"
          (click)="removeProduct(product.id)"
        />
        <img
          class="product-image"
          src="../../../assets/products/{{ product.variantId }}.jpg"
        />
        <div class="product-details">
          <div class="product-title">{{ product.name }}</div>
          <div>Ár: {{ product.price }} UniToken</div>
          <div>Szín: {{ product.color }}</div>
          <div>Méret: {{ product.size }}</div>
          <div>Mennyiség: {{ product.selectedQuantity }} db</div>
        </div>
      </div>
    </div>

    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Szállítás</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group">
          <mat-radio-button value="1"
            >Átvétel az egyetem B épületének portáján</mat-radio-button
          >
          <mat-radio-button value="2">Házhozszállítás</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="accordion">
      <mat-expansion-panel [formGroup]="form">
        <mat-expansion-panel-header>
          <mat-panel-title>Szállítási cím</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="full-row">
          <mat-form-field class="input">
            <mat-label>Ország</mat-label>
            <input matInput type="text" formControlName="country" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.country.errors
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="half-row">
          <mat-form-field class="input">
            <mat-label>Irányítószám</mat-label>
            <input matInput type="text" formControlName="zipCode" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.zipCode.errors
                )
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
            <mat-label>Város</mat-label>
            <input matInput type="text" formControlName="city" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.city.errors
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="third-row">
          <mat-form-field class="input">
            <mat-label>Közterület neve</mat-label>
            <input matInput type="text" formControlName="streetName" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.streetName.errors
                )
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
            <mat-label>Közterület jellege</mat-label>
            <input matInput type="text" formControlName="streetType" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.streetType.errors
                )
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
            <mat-label>Házszám</mat-label>
            <input matInput type="text" formControlName="houseNumber" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.houseNumber.errors
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="third-row">
          <mat-form-field class="input">
            <mat-label>Lakás</mat-label>
            <input matInput type="text" formControlName="apartment" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.apartment.errors
                )
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
            <mat-label>Emelet</mat-label>
            <input matInput type="text" formControlName="floor" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.floor.errors
                )
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
            <mat-label>Ajtó</mat-label>
            <input matInput type="text" formControlName="door" />
            <mat-error>
              {{
                errorMessageService.getErrorMessage(
                  this.form.controls.door.errors
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="summary">
    <div class="title">Összesítés</div>
    <div class="details">
      <div>
        Részösszeg
        <span>{{ productsPrice() }} UniToken</span>
      </div>
      <div>
        Szállítási díj
        <span>{{ deliveryFee() }} UniToken</span>
      </div>
      <div>
        Összesen
        <span>{{ totalPrice() }} UniToken</span>
      </div>
    </div>

    <button
      mat-raised-button
      class="button"
      (click)="pay()"
      [disabled]="isPayButtonDisabled()"
    >
      Fizetés
    </button>
  </div>
</section>
<section class="secondary-container" *ngIf="succesfulPayment()">
  <div class="container">
    <div class="title">Sikeres fizetés!</div>
    <div class="disclaimer">Rendelésed sikeresen rögzítettük!</div>
    <div class="disclaimer">
      A rendelésed státuszáról a továbbiakban emailben értesítünk.
    </div>
    <button mat-raised-button class="button" routerLink="/landing">
      Vissza a főoldalra
    </button>
  </div>
</section>
