/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Red+Rose:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Red+Rose:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// material overrides
@import url("./app/material/expansion.scss");
@import url("./app/material/button.scss");
@import url("./app/material/select.scss");
@import url("./app/material/input.scss");
@import url("./app/material/radio.scss");
@import url("./app/material/dialog.scss");
@import url("./app/material/spinner.scss");

* {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;
  color: white;
  background-color: #001148;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  width: 250px;
  height: 50px;
  border-radius: 6px;
  border: 2px solid transparent;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s;

  &.main {
    background-color: #0161d2;

    &:hover {
      background-color: #0039cd;
    }
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid #0161d2;

    &:hover {
      border-color: #0039cd;
    }
  }

  &.hollow {
    background-color: transparent;
    color: #0039cd;

    &:hover {
      color: white;
    }
  }
}
