<section class="login" [formGroup]="form">
  <form class="form-container">
    <img src="assets/icons/logo.svg" alt="logo" class="logo" />
    <div class="subtitle">
      Az Eszterházy Károly Katolikus Egyetem saját kriptotokenje
    </div>
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email@mail.com" formControlName="email" />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(this.form.controls.email.errors)
        }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Jelszó</mat-label>
      <input
        matInput
        type="password"
        placeholder="Jelszó"
        formControlName="password"
      />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(
            this.form.controls.password.errors
          )
        }}
      </mat-error>
    </mat-form-field>
    <mat-error class="error-message" *ngIf="loginResponse.errorMessage">
      {{ loginResponse.errorMessage }}
    </mat-error>
    <div class="buttons-container">
      <button mat-raised-button (click)="login()">Bejelentkezés</button>
      <button mat-stroked-button routerLink="/registration">
        Regisztráció
      </button>
    </div>
  </form>
  <img src="assets/images/tokens_login.svg" alt="tokens" class="tokens" />
</section>
