<section class="registration">
  <form class="form-container" [formGroup]="form">
    <img src="assets/icons/logo.svg" alt="logo" class="logo" />

    <div class="subtitle">
      Az Eszterházy Károly Katolikus Egyetem saját kriptotokenje
    </div>

    <mat-form-field class="input">
      <mat-label>Név</mat-label>
      <input matInput placeholder="Minta János" formControlName="name" />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(this.form.controls.name.errors)
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Neptun kód</mat-label>
      <input
        matInput
        type="text"
        placeholder="NEP123"
        formControlName="neptun"
      />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(this.form.controls.neptun.errors)
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="email@mail.com"
        formControlName="email"
      />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(this.form.controls.email.errors)
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        {{
          errorMessageService.getErrorMessage(
            this.form.controls.password.errors,
            "password"
          )
        }}
      </mat-error>
    </mat-form-field>
    <mat-checkbox class="checkbox" formControlName="dataHandlingStatement"
      >Elfogadom az adatkezelési
      <a
        href="https://uni-eszterhazy.hu/api/media/file/6a1fedf13a5a19fc6b85700eb78758ebd797060a"
        target="_blank"
        >tájékoztatót.</a
      ></mat-checkbox
    >
    <mat-error
      class="error-message"
      *ngIf="this.registrationResponse.message"
      >{{ this.registrationResponse.message }}</mat-error
    >
    <div class="buttons-container">
      <button mat-raised-button (click)="register()">Regisztráció</button>
      <button mat-stroked-button routerLink="/login">Bejelentkezés</button>
    </div>
  </form>
  <img src="assets/images/tokens_login.svg" alt="tokens" class="tokens" />
</section>
