.registration {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: unset;
  background-size: cover;
  padding: 0px 20px;

  @media (min-width: 1024px) {
    margin-top: 0px;
    background-image: url("../../../assets/images/login_background.jpg");
    min-height: calc(100vh - 100px);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-radius: 0 30% 30% 0;
  margin-bottom: 100px;

  @media (min-width: 1024px) {
    width: 60%;
  }

  .logo {
    width: 50%;
    max-width: 250px;
    margin-bottom: -20px;
  }

  .subtitle {
    font-size: 16px;
    text-align: center;
  }

  .input {
    width: 100%;

    @media (min-width: 768px) {
      width: 500px;
    }
  }

  .checkbox {
    margin-bottom: 10px;

    a {
      color: #329dff;
    }

    @media (min-width: 768px) {
      width: 500px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @media (min-width: 768px) {
      width: 500px;
      flex-direction: row;
    }

    button {
      width: 100%;
      max-width: unset;

      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}

.tokens {
  display: none;
  max-height: 700px;
  margin: auto;

  @media (min-width: 1024px) {
    display: initial;
  }
}

.error-message {
  margin-top: -30px;
  margin-bottom: -5px;
  margin-left: 20px;
  font-size: 12px;
  width: 100%;

  @media (min-width: 768px) {
    width: 500px;
  }
}
