<div class="main-container">
  <div class="title">Férfi termékek</div>
  <div class="products" *ngIf="this.menProducts.length">
    <div class="header">
      <div>Id</div>
      <div>Variáns</div>
      <div>Név</div>
      <div>Típus</div>
      <div>Szín</div>
      <div>Méret</div>
      <div>Ár</div>
      <div>Darabszám</div>
    </div>

    <div
      class="row"
      *ngFor="let product of menProducts"
      (click)="onProductClick(product.id)"
    >
      <div>{{ "#" + product.id }}</div>
      <div>{{ product.variantId }}</div>
      <div>{{ product.name }}</div>
      <div>{{ mapperService.mapProductTypeName(product.type) }}</div>
      <div>{{ mapperService.mapProductColorName(product.color) }}</div>
      <div>{{ product.size }}</div>
      <div>{{ product.price }}</div>
      <div>{{ product.quantity }}</div>
    </div>
  </div>
  <div class="message" *ngIf="!this.menProducts.length">
    Nem találhatóak termékek.
  </div>

  <div class="title">Női termékek</div>
  <div class="products" *ngIf="this.womenProducts.length">
    <div class="header">
      <div>Id</div>
      <div>Variáns</div>
      <div>Név</div>
      <div>Típus</div>
      <div>Szín</div>
      <div>Méret</div>
      <div>Ár</div>
      <div>Darabszám</div>
    </div>

    <div
      class="row"
      *ngFor="let product of womenProducts"
      (click)="onProductClick(product.id)"
    >
      <div>{{ "#" + product.id }}</div>
      <div>{{ product.variantId }}</div>
      <div>{{ product.name }}</div>
      <div>{{ mapperService.mapProductTypeName(product.type) }}</div>
      <div>{{ mapperService.mapProductColorName(product.color) }}</div>
      <div>{{ product.size }}</div>
      <div>{{ product.price }}</div>
      <div>{{ product.quantity }}</div>
    </div>
  </div>
  <div class="message" *ngIf="!this.womenProducts.length">
    Nem találhatóak termékek.
  </div>

  <div class="title">Kiegészítő termékek</div>
  <div class="products" *ngIf="this.accessaryProducts.length">
    <div class="header">
      <div>Id</div>
      <div>Variáns</div>
      <div>Név</div>
      <div>Típus</div>
      <div>Szín</div>
      <div>Méret</div>
      <div>Ár</div>
      <div>Darabszám</div>
    </div>

    <div
      class="row"
      *ngFor="let product of accessaryProducts"
      (click)="onProductClick(product.id)"
    >
      <div>{{ "#" + product.id }}</div>
      <div>{{ product.variantId }}</div>
      <div>{{ product.name }}</div>
      <div>{{ mapperService.mapProductTypeName(product.type) }}</div>
      <div>{{ mapperService.mapProductColorName(product.color) }}</div>
      <div>{{ product.size }}</div>
      <div>{{ product.price }}</div>
      <div>{{ product.quantity }}</div>
    </div>
  </div>
  <div class="message" *ngIf="!this.accessaryProducts.length">
    Nem találhatóak termékek.
  </div>
</div>
