<div class="navbar">
    <div class="logo-container">
        <a routerLink="/landing">
            <img class="logo" src="assets/icons/logo.svg" alt="Egyetem logo">
        </a>
    </div>
    <div class="item-group">
        <a routerLink="/products/women" class="item">Női</a>
        <a routerLink="/products/men" class="item">Férfi</a>
        <a routerLink="/products/accessary" class="item">Kiegészítők</a>
    </div>
    <div class="item-group">
        <a routerLink="/login" class="icon-item" *ngIf="!userHandlerService.userLoggedIn()">
            <img src="assets/icons/profile.svg" alt="Profil">
            <span>Bejelentkezés</span>
        </a>
        <a routerLink="/cart" class="icon-item">
            <img src="assets/icons/bag.svg" alt="Táska">
            <span>Kosár</span>
        </a>
        <a routerLink="/profile" class="icon-item" *ngIf="userHandlerService.userLoggedIn()">
            <img src="assets/icons/profile.svg" alt="Profil">
            <span>Profil</span>
        </a>
    </div>
</div>
