<div class="navbar mobile">
  <div class="logo-container">
    <a routerLink="/landing">
      <img class="logo" src="assets/icons/logo.svg" alt="Egyetem logo" />
    </a>
  </div>
  <mat-icon
    class="trigger"
    [matMenuTriggerFor]="menu"
    [matBadgeHidden]="cartService.getCartProductsCount() === 0"
    [matBadge]="cartService.getCartProductsCount()"
    matBadgeColor="primary"
    matBadgePosition="below after"
    aria-hidden="false"
    >menu</mat-icon
  >
  <span class="notification" [ngClass]="{ visible: showCartNotification }"
    >Termék hozzáadva!</span
  >
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="products">Termékek</button>
    <mat-menu #products="matMenu">
      <a mat-menu-item routerLink="/products/women">Női</a>
      <a mat-menu-item routerLink="/products/men">Férfi</a>
      <a mat-menu-item routerLink="/products/accessary">Kiegészítők</a>
    </mat-menu>
    <button
      mat-menu-item
      [matMenuTriggerFor]="profileMenu"
      *ngIf="userHandlerService.userLoggedIn()"
    >
      Profil
    </button>
    <mat-menu #profileMenu="matMenu">
      <a mat-menu-item routerLink="/profile/details">Személyes adatok</a>
      <a mat-menu-item routerLink="/profile/orders">Rendeléseim</a>
      <span mat-menu-item (click)="logout()">Kijelentkezés</span>
    </mat-menu>
    <a mat-menu-item routerLink="/cart">
      <span
        [matBadgeHidden]="cartService.getCartProductsCount() === 0"
        [matBadge]="cartService.getCartProductsCount()"
        matBadgeColor="primary"
        matBadgeOverlap="false"
        >Kosár</span
      >
    </a>
    <a
      mat-menu-item
      routerLink="/login"
      *ngIf="!userHandlerService.userLoggedIn()"
    >
      Bejelentkezés
    </a>
  </mat-menu>
</div>

<div class="navbar desktop">
  <div class="logo-container">
    <a routerLink="/landing">
      <img class="logo" src="assets/icons/logo.svg" alt="Egyetem logo" />
    </a>
  </div>
  <div class="item-group centered">
    <a routerLink="/products/women" class="item">Női</a>
    <a routerLink="/products/men" class="item">Férfi</a>
    <a routerLink="/products/accessary" class="item">Kiegészítők</a>
  </div>
  <div class="item-group centered">
    <a
      routerLink="/login"
      class="icon-item"
      *ngIf="!userHandlerService.userLoggedIn()"
    >
      <img src="assets/icons/profile.svg" alt="Profil" />
      <span>Bejelentkezés</span>
    </a>
    <a
      routerLink="/cart"
      class="icon-item"
      [matBadgeHidden]="cartService.getCartProductsCount() === 0"
      [matBadge]="cartService.getCartProductsCount()"
      matBadgePosition="before"
      matBadgeColor="primary"
    >
      <img src="assets/icons/bag.svg" alt="Táska" />
      <span>Kosár</span>
      <span class="notification" [ngClass]="{ visible: showCartNotification }"
        >Termék hozzáadva!</span
      >
    </a>

    <span
      class="icon-item"
      [matMenuTriggerFor]="profileMenu"
      *ngIf="userHandlerService.userLoggedIn()"
    >
      <img src="assets/icons/profile.svg" alt="Profil" />
      <span>Profil</span>
    </span>
    <mat-menu #profileMenu="matMenu">
      <a mat-menu-item routerLink="/profile/details">Személyes adatok</a>
      <a mat-menu-item routerLink="/profile/orders">Rendeléseim</a>
      <span mat-menu-item (click)="logout()">Kijelentkezés</span>
    </mat-menu>
  </div>
</div>
